
.btn-primary {
    margin-left: 1080px;
    margin-top: -100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
    padding: 5px 20px;
    background-color: #FF0000;
    border-color: #000000;
},
.btn-primary:visited {
    color: #FF0000;
    background: none;
}

.btn-primary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}
